<div>
    <h1 class="logo"><span>dev</span>Nursery <span>To</span>Do</h1>
    <div *ngIf="loggedIN">
    <div class="todolist">
    <form #todoForm="ngForm" (ngSubmit)="addTodo(todoForm)">
    <input type="text" name="todo" placeholder="create todo" required ngModel/>
    <input type="submit" value="create todo"/>
    </form>
    </div>

    <ul class="list">
        <li *ngFor="let todo of todos; index as index; trackBy:trackByFn">{{todo.entry}} <button (click)="removeTodo(index,todo.id)">Complete</button></li>
    </ul>
    </div>
    <h1 *ngIf="!loggedIN">IF YOU SEE THIS, YOU ARE NOT LOGGED IN, LOGIN AT devNursery.com BLOGGING SECTION</h1>
    <footer>Application Made by Alex Merced of AlexMerced.com using Go/Buffalo/Angular 8</footer>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
